/*** sectioning elements ***/

body {

}

header {

}

.orange{
  background-color: #ff8000;
}

.odd{
  background-color:#1038a3;
  color:#ffffff;
}

.even{
  background-color:#ff8000;
}

.menu {
  font-family: 'Bungee Inline', cursive;
  text-align: center;
  font-size: 30px;
}

.food {
  font-family: 'Bungee Inline', cursive;
  text-align: left;
  font-size: 20px;
}

main {

}

footer {
  color: #ffffff;
  background-color: #0b2362;
}

.info h2 {
  font-size: 35px;
}

.info p{
  font-size: 12px;
}

footer.img {

}

.social{

}

nav {

}

section {

}

aside {

}


/**** content styles ***/

h1 {

}


h2 {
  font-family: 'Bungee Inline', cursive;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
  font-family: 'Chivo', sans-serif;
  font-size: 18px;
}

blockquote {

}

ol {

}

ul {

}

li {
  font-family: 'Chivo', sans-serif;
  font-size: 24px;
  list-style-type: none;
  line-height: 40px;
}

table {

}

tr {

}

th {

}

td {

}


/*** image styles ***/

img  {

}

img.social {
  margin: 6px;
}

/*** link styles ***/

a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  color: #000000;
}

a:hover {
  text-decoration: bold;
}

a:active {

}
